appdirs==1.4.4
asgiref==3.2.7
astroid==2.3.2
autopep8==1.4.4
certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
distlib==0.3.0
Django==3.0.8
django-cors-headers==3.4.0
djangorestframework==3.11.0
filelock==3.0.12
Flask==1.1.1
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.15.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.1
pandas==1.0.5
Pillow>=7.1.0
pipenv==2018.11.26
pycodestyle==2.5.0
pylint==2.4.3
pyparsing==2.4.7
pyroutelib3==1.4
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.23.1
scipy==1.5.0
six==1.12.0
sqlparse==0.3.1
threadpoolctl==2.1.0
urllib3==1.26.5
virtualenv==20.0.20
virtualenv-clone==0.5.4
Werkzeug==0.16.0
wikiquote==0.1.14
wrapt==1.11.2
